*,
*::after,
*::before {
	box-sizing: content-box;
}

.basiclandcounter {
	width: 6vw;
	display: flex;
	flex-direction: row;
}
.mana-symbol {
	width: 2vw;
	height: auto;
	object-fit: scale-down;
}

.big-card {
	max-width: 12vw;
	height: auto;
	cursor: pointer;
	border-radius: 10px;
}

.btn-primary {
	background-color: #e5d3da !important;
	color: #3b393a !important;
	border: 2mm solid #3b393a !important;
	box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited {
	background-color: #b6adb0 !important;
}

.sticky-bottom {
	position: relative;
}

.small-card {
	width: 8vw;
	height: auto;
	margin-bottom: -9.7vw;
	object-fit: cover;
	border-radius: 10px;
}

.commander-card {
	width: 8vw;
	height: auto;
	margin-bottom: -9.7vw;
	object-fit: cover;
	border: 2mm ridge goldenrod;
	border-radius: 10px;
}

.commander-stack {
	width: 8vw;
}
.stack {
	width: 8vw;
}

.cardlist {
	display: flex;
	min-width: 100vw;
	height: 100%;
	background-color: #3b393a;
	border-top: 4mm ridge #e5d3da;
}

.myoverlay {
	position: relative;
}

.gamemodebutton {
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
	max-width: 30vw;
	height: 100%;
}

.overlay-content {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.myoverlay:hover .gamemodebutton {
	filter: blur(5px) grayscale(100%) brightness(0.4);
}

.myoverlay:hover .overlay-content {
	opacity: 1;
	color: #e5d3da;
}

html {
	background-color: #3b393a;
	height: 100%;
}

body {
	background-color: #3b393a;
	overflow-x: hidden;
	display: flex;
	height: 100%;
}

.main {
	display: flex;
	flex-flow: column;
	flex-direction: column;
	background-color: #3b393a;
	min-height: calc(100% - 19vh);
}

.buttonlist {
	display: flex;
	flex-direction: row;
	width: 100vw;
}
.about-button {
	background-color: #3b393a;
	color: #e5d3da;
	border-radius: 25px;
}

.about-text {
	color: #e5d3da;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.rules {
	color: #e5d3da;
	width: 100%;
	display: flex;
	flex-direction: column;
}

a {
	color: #e5d3da;
}

a:hover,
a:active {
	color: #b45283;
}

p {
	font-size: 24px;
}

.about-button:hover,
.about-button:active {
	background-color: #3b393a !important;
	color: #b45283;
}

.navbar {
	background-color: #e5d3da;
	height: 15vh;
	min-width: 100vw;
}
.img-fluid-height {
	max-height: 100%;
	width: auto;
	height: 12vh;
}

.section {
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #3b393a;
	color: #e5d3da;
}

.mytooltip {
	position: relative;
}

.mytooltip .tooltip-content {
	position: absolute;
	z-index: 9999;
	bottom: -600%;
	left: 50%;
	opacity: 0;
	pointer-events: none;
}

.mytooltip .tooltip-content::after {
	position: absolute;
	pointer-events: none;
}

.mytooltip .tooltip-content img {
	border-radius: 10px;
	position: relative;
	max-height: 400px;
}

.mytooltip:hover .tooltip-content {
	opacity: 1;
}
