.big-card {
	width: 100%;
	max-width: 200px;
	height: auto;
}

.small-card {
	width: 120px;
	height: auto;
	margin-bottom: -150px;
	object-fit: cover;
}

.commander-card {
	width: 150px;
	height: auto;
	margin-bottom: -150px;
	object-fit: cover;
	border: 4mm ridge #e5d3da;
}

.commander-stack {
	width: 150px;
}
.stack {
	width: 120px;
}

html,
body {
	height: 100%;
	background-color: #3b393a;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 198px);
	background-color: #3b393a;
}

.section {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 80vw;
	background-color: #3b393a;
	color: #e5d3da;
}

.mytooltip {
	display: inline;
	position: relative;
	overflow: auto;
}

.mytooltip .tooltip-content {
	position: absolute;
	z-index: 9999;
	bottom: -600%;
	left: 100%;
	opacity: 0;
	pointer-events: none;
}

.mytooltip .tooltip-content::after {
	content: "";
	position: absolute;
	pointer-events: none;
}

.mytooltip .tooltip-content img {
	position: relative;
	height: 400px;
	display: block;
	float: left;
}

.mytooltip:hover .tooltip-content {
	opacity: 1;
}
